:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /* Font weights */
    --light: 500;
    --medium: 700;
    --bold: 900;
}

*, h1, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: var(--bold);
    font-size: 1.5em;
    color: var(--dark-blue);
}

p {
    font-size: 1em;
    font-weight: var(--light);
    color: var(--desaturated-blue);
}

@media screen and (min-width: 800px) {
    .container {
        background: url('./images/pattern-background-desktop.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: contain !important;
    }
}

body {
    background-color: hsl(227, 100%, 95%);
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    background: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    background-color: var(--very-pale-blue);
    height: 100vh;
}

.content-wrapper {
    margin: 2em;
    background: white;
    border-radius: 20px;
    width: 80%;
    max-width: 380px;
}

.hero-ilustration img {
    display: block;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.text-intro {
    margin: 1.6em;
    text-align: center;
    line-height: 1.5em;
}

.text-intro .light-p {
    padding-top: 0.6em;
}

.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--very-pale-blue);
    margin: 1.2em;
    border-radius: 15px;
}

.plans img {
    padding: 1em;
}

.plans .plan-name {
    margin: auto;
    font-weight: var(--bold);
    color: var(--dark-blue);
}

.plans .plan-name span {
    font-weight: var(--light);
    color: var(--desaturated-blue);
}

.plans .change-plan {
    margin: auto;
    padding: 1em 1em;
}

.plans .change-plan a{
    color: var(--bright-blue);
    font-weight: var(--medium);
    font-size: .9em;
}

.payment {
    display: flex;
    justify-content: center;
    margin: 1em 1.5em;
}

.payment button {
    background: var(--bright-blue);
    color:hsl(225, 100%, 98%);
    font-weight: var(--medium);
    height: 4em;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: -8px 8px 20px 10px var(--pale-blue);
    cursor: pointer;
}

.cancel-order {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.cancel-order a {
    font-size: .8em;
    font-weight: var(--medium);
    color: var(--desaturated-blue);
    text-decoration: none;
}

.footer {
    margin: 2em;
    font-size: 12px;
    color: var(--desaturated-blue);
}

.footer a:visited {
    color: var(--bright-blue);
}
